.sidebar__compose {
    margin: 15px 10px !important;
    text-transform: capitalize !important;
    color: gray !important;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75) !important;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding: 0px 10px; 
    color: #818181;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    cursor: pointer;
}

.sidebarOption > p {
    display: none;
    font-weight: 300;
}

.sidebarOption > h3 {
    font-weight: 400;
    flex: 1;
    margin-left: 10px;
    font-size: 14px
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 5px;
}

.sidebarOption:hover > p,
.sidebarOption__selected > p {
    display: inline-block;
}

.sidebarOption:hover, 
.sidebarOption:hover > h3, 
.sidebarOption:hover > p, 
.sidebarOption__selected, 
.sidebarOption__selected > h3, 
.sidebarOption__selected > p {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800 !important;
}

.sidebar__footer {
    display: flex;
    justify-content: center;
}