.mailRow {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
    cursor: pointer;
}

.mailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.mailRow__options {
    display: flex;
}

.mailRow__title {
    font-size: 13px;
    flex: 0.3
}

.mailRow__message {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
}

.mailRow__message > h4 {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.mailRow__messageDesc {
    font-weight: 400;
    color: grey
}

.mailRow__time {
    padding-right: 15px;
    font-size: 9px;
    font-weight: bold;
}